#searchForm .input-group{
  width: 300px;
  text-align: left;
}
.dropdown-menu > li > a {
    cursor: pointer;
}
.megamenu.navbar-default {
  background-color: #000;
  z-index: 10;
}
/*.navbar-default .navbar-nav>li>a:hover {
background-color: #fff;
}*/
.megamenu .grid-demo {
  padding: 10px 30px;
}
.megamenu .dropdown:hover{
    background-color: #fff;
  }
.megamenu .dropdown:hover .dropdown-menu {
    display: block;
 }
.megamenu .grid-demo [class*="col-"] {
    font-size: 1em;
    line-height: 2;
}
.megamenu .grid-demo [class*="col-"] a {
    padding: 5px 10px;
}

.megamenu .nav,
.megamenu .collapse,
.megamenu .dropup,
.megamenu .dropdown {
  position: static;
}
.megamenu .container {
  position: relative;
}
.megamenu .dropdown-menu {
  left: auto;
  margin-top: 0;
  top:auto;
}
.megamenu .megamenu-content {
  padding: 20px 30px;
}
.megamenu .dropdown.megamenu-fw .dropdown-menu {
  left: 0;
  right: 0;
}
/* NEW CHANGES */
@media (min-width: 768px) {
  .navbar-buttons .menu {
    margin-top: 25px;
  }
}
.navbar-buttons .menu {;
  margin-left: -20px;
}
.navbar-buttons .menu li {
  list-style: none;
  display: inline-block;
}
.navbar-buttons .menu li:first-child:after {
  content: " | ";
}
.owl-carousel {
  margin-bottom: 20px;
}