<div ng-controller="NavbarCtrl">
<!-- *** NAVBAR ***
_________________________________________________________ -->

<div class="navbar navbar-default yamm" role="navigation" id="navbar">
  <div class="container">
  <div class="col-md-12">
        <div class="navbar-header">

            <a class="navbar-brand home" href="index.html" data-animate-hover="bounce">
                <img src="/assets/img/logo.gif" alt="CodeNx logo" class="hidden-xs">
                <img src="/assets/img/logo.gif" alt="CodeNx logo" class="visible-xs"><span class="sr-only">ShopNx - go to homepage</span>
            </a>
            <div class="navbar-buttons">
               <!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation" ng-click="isCollapsed1 = !isCollapsed1">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="fa fa-align-justify"></i>
                </button> -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#search">
                    <span class="sr-only">Toggle search</span>
                    <i class="fa fa-search"></i>
                </button>

                <a class="btn btn-default navbar-toggle" ng-click="openCart(cart,'lg');" href=""><i class="fa fa-shopping-cart">&nbsp;</i> <span class="hidden-xs">Cart ({{cart.getTotalCount()}}) - {{cart.getTotalPrice() | currency:"$"}}</span></a>
                <a class="btn btn-default navbar-toggle" ng-click="openCart(cart,'lg');" href=""><i class="fa fa-shopping-cart">&nbsp;</i> <span class="hidden-xs">Wallet ({{cart.getTotalCount()}}) - {{cart.getTotalPrice() | currency:"$"}}</span></a>
            </div>
        </div>
        <!--/.navbar-header -->

        <!-- <div class="navbar-collapse collapse navbar-static-top megamenu" id="navigation" data-animate="fadeInDown">
          <div collapse="isCollapsed1" class="navbar-collapse collapse" id="navbar-main2">
            <ul class="nav navbar-nav navbar-left">
                <li class="dropdown yamm-fw" ng-repeat= "p in categories">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200">{{p.name}} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="yamm-content">
                                <div class="row">
                                    <div class="col-sm-3" ng-repeat="c in p.sub_categories">
                                        <!-- <h5>All</h5> -->
                                       <!-- <ul>
                                            <li><a href="/Category/{{c.slug}}/{{c._id}}" ng-click="hideSubMenu();">{{c.name}}</a>sdfg
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- /.yamm-content -->
                       <!-- </li>
                    </ul>
                </li>
            </ul>
          </div>
        </div>
        <!--/.nav-collapse -->

        <div class="navbar-buttons">
             <div class="pull-right" data-animate="fadeInDown">
              <ul class="menu">
                <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/signup')}"><a href="/signup">Sign up</a></li>
                <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/login')}"><a href="/login">Login</a></li>
                <li ng-show="isLoggedIn()"><a href="">Hello {{ getCurrentUser().name }} </a></li>
              </ul>
            </div>
            <div class="navbar-collapse collapse right" id="basket-overview">
                <a class="btn btn-primary navbar-btn" ng-click="openCart(cart,'lg');" href=""><i class="fa fa-shopping-cart">&nbsp;</i> <span class="hidden-sm">Cart ({{cart.getTotalCount()}}) - {{cart.getTotalPrice() | currency:"$"}}</span></a>
            </div>

            <!--/.nav-collapse -->
            <div class="navbar-collapse collapse right" id="basket-overview">
                <a class="btn btn-primary navbar-btn" ng-click="openCart(cart,'lg');" href=""><i class="fa fa-shopping-cart">&nbsp;</i> <span class="hidden-sm">Wallet ({{cart.getTotalCount()}}) - {{cart.getTotalPrice() | currency:"$"}}</span></a>
            </div>
            <!--/.nav-collapse -->

            <!-- <div class="navbar-collapse collapse left" id="search-not-mobile">
                <button type="button" class="btn navbar-btn btn-primary" data-toggle="collapse" data-target="#search">
                    <span class="sr-only">Toggle search</span>
                    <i class="fa fa-search"></i>
                </button>
            </div> -->
        <div class="collapse clearfix" id="search">
          <form id="searchForm" class="ng-scope ng-pristine ng-valid navbar-form" role="search">
            <div class="nav-search text-center" id="nav-search">
              <span class="input-icon">
                <script type="text/ng-template" id="searchTemplate.html">
                    <a><span>{{match.model.name}}</span></a>
                </script>
                <div class="input-group">
                <input class="form-control text-left" type="text" name="q" id="q" autocomplete="off"
                placeholder="Search for a product, category or brand..."
                ng-model="search"
                uib-typeahead="p as p.name for p in globalSearch($viewValue)"
                typeahead-loading="loadingLocations"
                typeahead-no-results="noResults"
                typeahead-template-url="searchTemplate.html"
                typeahead-on-select="onSelectProduct($item, $model, $label)"
                autofocus=""
                >
                <span class="input-group-btn">

<button type="submit" class="btn btn-primary"><i class="fa fa-search"></i>Search</button>

</span>
              </div>
            </span>
            </div>
          </form>


            <!-- <form class="navbar-form" role="search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search">
                    <span class="input-group-btn">

  <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>

    </span>
                </div>
            </form> -->

        </div>
        <!--/.collapse -->
        </div>



    </div>
    <!-- /.col-md-12-->
</div>
<!-- /.container -->
</div>
<!-- *** NAVBAR END *** -->

</div>
