<link rel="stylesheet" href="bower_components/angular-loading/angular-loading.css"/>

<div class="row">    
      <div class="col-md-12 col-sm-12">  
        <div id="owl-demo" class="owl-carousel owl-theme">
          <div class="item"><img src="assets/img/top_banner.jpg"></div>
          <div class="item"><img src="assets/img/top_banner_two.jpg"></div>
          <div class="item"><img src="assets/img/top_banner_three.jpg"></div>
        </div>     
      </div>
</div> <!-- .row  -->

                    <div class="box info-bar">
                        <div class="row">       
                            <div class="col-sm-12 col-md-12 text-center products-number-sort">
                            <h3>Fashion</h3>   
                            <p class="btn-primary text-left">Handbags</p>                
                            <div class="col-sm-12 col-md-8 products-number-sort"> 
                                <div class="products-sort-by">
                                  <span ng-if="fl.brands.length>0">Brands:</span>
                                  <a class="btn btn-xs btn-warning" href="" ng-click="removeBrand(b);" ng-repeat="b in fl.brands" style="margin-left:5px;"><i class="fa fa-times-circle"></i> {{b.name}}</a>

                                  <a ng-if="fl.categories.length>0" class="btn btn-xs btn-warning" href="" ng-click="removeCategory();" style="margin-left:5px;"><i class="fa fa-times-circle"></i>{{fl.categories[0].name}}</a>  

                                  <span ng-repeat="features in fl.features">
                                      <a ng-if="features" ng-click="removeFeatures(features);" ng-repeat="f in features" class="btn btn-xs btn-warning" href="" style="margin-left:5px;">{{f}}</a>
                                  </span>

                                </div>
                            </div>    
                            </div>     
                    </div> <!-- .row -->
                  <div infinite-scroll='scroll()' infinite-scroll-disabled='products.busy' infinite-scroll-distance='1'>
                    <div class="row products" dw-loading="products" dw-loading-options="{text: ''}">
                      <div class="box" ng-if="products.items.length==0 && !products.busy">
                          <div class="row">
                              <div class="col-sm-12">
                                <h3>No product found. Try removing some filters.</h3>
                              </div>
                          </div>
                      </div>
                      <div id="owl-products-one" class="owl-carousel owl-theme">
                      <div class="item">
                      <div class="col-md-12 col-sm-12" ng-repeat="product in products.items">
                            <div class="product">
                                <div class="flip-container">
                                    <div class="flipper">
                                        <div class="front">
                                            <a ui-sref="productDetail({id:product._id, slug:product.slug})">
                                                <img ng-src="/assets/clothing/{{product.variants[0].image}}"
                                                    err-src="/assets/images/photo.png"
                                                    alt="{{product.name}}" class="img-responsive">
                                            </a>
                                        </div>
                                        <div class="back">
                                            <a ui-sref="productDetail({id:product._id, slug:product.slug})">
                                                <img ng-src="/assets/clothing/{{product.variants[0].image}}"
                                                    err-src="/assets/images/photo.png"
                                                    alt="{{product.name}}" class="img-responsive">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <a ui-sref="productDetail({id:product._id, slug:product.slug})" class="invisible">
                                    <img src="/assets/clothing/{{product.variants[0].image}}" alt="" class="img-responsive">
                                </a>
                                <div class="text text-center">
                                    <h3><a ui-sref="productDetail({id:product._id, slug:product.slug})">{{product.name}}{{product.variants[0].size}}</a></h3>
                                    <p class="price"><del ng-if="product.variants[0].price!=product.variants[0].mrp">{{product.variants[0].mrp | currency : '$'}}</del> {{product.variants[0].price | currency : '$'}}</p>
                                    <p class="buttons">
                                      <div class="btn-group">
                                      <a ui-sref="productDetail({id:product._id, slug:product.slug})" class="btn btn-default">View detail</a>
                                      <a ng-click="cart.addItem({sku:product._id, name:product.name, slug:product.slug, mrp:product.variants[0].mrp, price:product.variants[0].price, weight:product.variants[0].weight}, -1)" ng-hide="checkCart(product._id)" class="btn btn-info">-</a>

                                      <a ng-hide="checkCart(product._id)" class="btn btn-info">{{getQuantity(product._id);}}</a>

                                      <a ng-click="cart.addItem({sku:product._id, name:product.name, slug:product.slug, mrp:product.variants[0].mrp, price:product.variants[0].price, weight:product.variants[0].weight}, +1)" ng-hide="checkCart(product._id)" class="btn btn-info">+</a>
                                      </div>
                                      <a ng-click="cart.addItem({sku:product._id, name:product.name, slug:product.slug, mrp:product.variants[0].mrp, price:product.variants[0].price, quantity:1, image:product.variants[0].image,category:product.category, size:product.variants[0].size, weight:product.variants[0].weight} ,true);" ng-show="checkCart(product._id)" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                    </p>
                                </div>
                                <!-- /.text -->
                            </div>
                            <!-- /.product -->
                        </div>

                        <!-- /.col-md-4 -->
                        </div>
                        <!-- .item -->
                     </div>
                    <!-- /.owl-carousel -->

                    </div>
                    <!-- /.products -->

                </div>
                <!-- /.infinite scroll -->
 
                        <div class="row">
      
                            <div class="col-sm-12 col-md-12 text-center products-number-sort">
                            <h3>Electronics</h3>
                            <p class="btn-primary text-left">Laptops</p>  
                            <div class="col-sm-12 col-md-8  products-number-sort">
                                <div class="products-sort-by">
                                  <span ng-if="fl.brands.length>0">Brands:</span>
                                  <a class="btn btn-xs btn-warning" href="" ng-click="removeBrand(b);" ng-repeat="b in fl.brands" style="margin-left:5px;"><i class="fa fa-times-circle"></i> {{b.name}}</a>

                                  <a ng-if="fl.categories.length>0" class="btn btn-xs btn-warning" href="" ng-click="removeCategory();" style="margin-left:5px;"><i class="fa fa-times-circle"></i>{{fl.categories[0].name}}</a>  

                                  <span ng-repeat="features in fl.features">
                                      <a ng-if="features" ng-click="removeFeatures(features);" ng-repeat="f in features" class="btn btn-xs btn-warning" href="" style="margin-left:5px;">{{f}}</a>
                                  </span>
                                </div>
                            </div>
                        </div>
                    </div>
                  <div infinite-scroll='scroll()' infinite-scroll-disabled='products.busy' infinite-scroll-distance='1'>
                    <div class="row products" dw-loading="products" dw-loading-options="{text: ''}">
                      <div class="box" ng-if="products.items.length==0 && !products.busy">
                          <div class="row">
                              <div class="col-sm-12">
                                <h3>No product found. Try removing some filters.</h3>
                              </div>
                          </div>
                      </div>
                      <div id="owl-products-two" class="owl-carousel owl-theme">
                      <div class="item">
                      <div class="col-md-12 col-sm-12" ng-repeat="product in products.items">
                            <div class="product">
                                <div class="flip-container">
                                    <div class="flipper">
                                        <div class="front">
                                            <a ui-sref="productDetail({id:product._id, slug:product.slug})">
                                                <img ng-src="/assets/clothing/{{product.variants[0].image}}"
                                                    err-src="/assets/images/photo.png"
                                                    alt="{{product.name}}" class="img-responsive">
                                            </a>
                                        </div>
                                        <div class="back">
                                            <a ui-sref="productDetail({id:product._id, slug:product.slug})">
                                                <img ng-src="/assets/clothing/{{product.variants[0].image}}"
                                                    err-src="/assets/images/photo.png"
                                                    alt="{{product.name}}" class="img-responsive">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <a ui-sref="productDetail({id:product._id, slug:product.slug})" class="invisible">
                                    <img src="/assets/clothing/{{product.variants[0].image}}" alt="" class="img-responsive">
                                </a>
                                <div class="text text-center">
                                    <h3><a ui-sref="productDetail({id:product._id, slug:product.slug})">{{product.name}}{{product.variants[0].size}}</a></h3>
                                    <p class="price"><del ng-if="product.variants[0].price!=product.variants[0].mrp">{{product.variants[0].mrp | currency : '$'}}</del> {{product.variants[0].price | currency : '$'}}</p>
                                    <p class="buttons">
                                      <div class="btn-group">
                                      <a ui-sref="productDetail({id:product._id, slug:product.slug})" class="btn btn-default">View detail</a>
                                      <a ng-click="cart.addItem({sku:product._id, name:product.name, slug:product.slug, mrp:product.variants[0].mrp, price:product.variants[0].price, weight:product.variants[0].weight}, -1)" ng-hide="checkCart(product._id)" class="btn btn-info">-</a>

                                      <a ng-hide="checkCart(product._id)" class="btn btn-info">{{getQuantity(product._id);}}</a>

                                      <a ng-click="cart.addItem({sku:product._id, name:product.name, slug:product.slug, mrp:product.variants[0].mrp, price:product.variants[0].price, weight:product.variants[0].weight}, +1)" ng-hide="checkCart(product._id)" class="btn btn-info">+</a>
                                      </div>
                                      <a ng-click="cart.addItem({sku:product._id, name:product.name, slug:product.slug, mrp:product.variants[0].mrp, price:product.variants[0].price, quantity:1, image:product.variants[0].image,category:product.category, size:product.variants[0].size, weight:product.variants[0].weight} ,true);" ng-show="checkCart(product._id)" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                    </p>
                                </div>
                                <!-- /.text -->
                            </div>
                            <!-- /.product -->
                        </div>

                        <!-- /.col-md-4 -->
                      </div>
                     <!-- /..item -->
                  
                     </div>
                    <!-- /.owl-carousel -->

                    </div>
                    <!-- /.products -->

                </div>
                <!-- /.infinite scroll -->
</div> <!-- .info-bar -->