span.slash {
color: #7f7f7f;
font-size: 10px;
text-decoration: line-through;
font-style: normal;
font-weight: normal;
}
p.price .text-muted{
  font-size: 20px;
}
.product .text{
    min-height: 170px;
}
.product a.invisible{
    min-height: 300px;
}
.product .flip-container{
    height:40px;
}
.product .flip-container img.img-responsive {
    min-height: 350px;
    max-height: 350px;
    width: auto;
}
.products .img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    height: 330px;
}
/*div.front {
    text-align: center;
}*/
em {
    padding: 2px 4px;
    color: #EA1F00;
    background-color: #F7F7F7;
    border: 1px solid #E1E1E8;
    font-style: normal;
    font-weight: 600;
    border-radius: 3px;
    letter-spacing: 1.5px;
}
.brand-filter-panel{
   height:200px;overflow:auto;
}
/* NEW CHANGES */
#owl-demo .owl-item {
    height: 350px;
    overflow: hidden;
}
.products-number-sort h2 {
    margin-bottom: 20px;
}
#owl-products-one .owl-controls .owl-buttons div, #owl-products-two .owl-controls .owl-buttons div {
    top: 30%;
    position: absolute;
}
#owl-products-one .owl-controls .owl-buttons .owl-prev i, #owl-products-one .owl-controls .owl-buttons .owl-next i, 
#owl-products-two .owl-controls .owl-buttons .owl-prev i, #owl-products-two .owl-controls .owl-buttons .owl-next i {
    font-size: 30px;
}
#owl-products-one .owl-controls .owl-buttons .owl-prev, #owl-products-two .owl-controls .owl-buttons .owl-prev {
    left: 0;
} 
#owl-products-one .owl-controls .owl-buttons .owl-next, #owl-products-two .owl-controls .owl-buttons .owl-next {
    right: 0;
} 
#owl-demo .owl-controls .owl-page span {
    background: none repeat scroll 0 0 #869791;
    border-radius: 20px;
    display: block;
    height: 12px;
    margin: 5px 7px;
    opacity: 0.5;
    width: 12px;
}
#owl-demo .owl-controls .owl-page {
    display: inline-block;
}
#owl-demo .owl-pagination {
    text-align: center;
}
.info-bar p.btn-primary {
    padding-left: 15px;
    font-size: 18px;
}